body {
    color: #8d4225;
    font-family: segoe UI;
    line-height:170%;
    margin: 0 auto;
    }
header{
    text-align: center;
    }

#menuToggle{
    display: block;
    position: relative; 
    top: 30px; 
    left: 30px; 
    z-index: 1; 
    -webkit-user-select: none; 
    user-select: two;
    }
#menuToggle input{
    display: block; 
    width: 30px; 
    height: 30px; 
    position: absolute; 
    top: -7px; 
    left: -5px; 
    cursor: pointer;  
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
    }
#menuToggle span{  
    display: block; 
    width: 33px; 
    height: 4px; 
    margin-bottom: 5px; 
    position: relative; 
    background: rgb(110, 73, 16);  
    border-radius: 3px; 
    z-index: 1; 
    transform-origin: 4px 0px; 
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    }
#menuToggle span:first-child{
    transform-origin: 0% 0%;
    }
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
    }
#menuToggle input:checked ~ span{
    opacity: 1; transform: rotate(45deg)translate(-2px, -1px); 
    background: rgb(184, 110, 15);
    }
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0; 
    transform: rotate(0deg) scale(0.2, 0.2);
    }
#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
    }
#menu{
    position: absolute; 
    width: 300px; 
    margin: -150px 0 0 -70px; 
    padding: 30px; 
    padding-top: 125px; 
    background: clear; 
    list-style-type: none; 
    -webkit-font-smoothing: antialiased;  
    transform-origin: 0% 0%; 
    transform: translate(-100%, 0);  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
#menu li{
    padding: 5px 0; 
    font-size: 25px;
    font-family: script MT;
    color: rgb(141, 41, 28);
    text-decoration: none;
    }
#menuToggle input:checked ~ ul{
    transform: none;
    }
#menu a{
    text-decoration: none;
    transition: color 0.3s ease;
    }
         
#menu a :hover{
    color: #35345e;
    }
section h3{
    color: #8b1a1a;
    font-family: script MT;
    font-size: 60px;
}
section p{
    color: #282c5f;
    font-family: script MT;
    font-size: 40px;
    text-align: center;
    font-size: 30px;
    position: relative;
    margin: 3em 7em;
    border-bottom: solid 1px #1f2466;
    border-radius: 85px;
    flex-grow:1;
    flex-basis:0;
    padding: 1em;
    }
#img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
section a{
    color: rgb(139, 41, 41);
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    font-family: script MT;
}

h1{
    color: #b49324;
    font-family: brush script MT;
    text-align: center;
    font-size: 50px;
    }
#columns {
    column-count: 4;
    column-rule: solid 2px rgb(41, 56, 100);
    column-gap: 3em;
    }
footer{
    text-align: center;
    margin-top: 2.5em;
    color: rgb(38, 39, 99);
    }
                    